<div class="seating-wrapper" id="{{ id }}">
    <div class="seating-overflow">
        <table>
            <colgroup class="seating-table-colgroup"></colgroup>
            <thead id="seating-table-thead">
                <tr>
                    <td class="seating-table-projector">
                        <div class="projector"><span>PROJEKTOR</span></div>
                    </td>
                </tr>
            </thead>
            <tbody class="seating-table-tbody">
                {% for rowIdx, row in seating %}
                <tr>
                    {% for colIdx, seat in row %}
                    <td data-row="{{ rowIdx }}" data-col="{{ colIdx }}">
                        {% if seat.type is not empty %}
                        <div class="seat {{ seat.type.name }}">
                            <div class="icon">
                                <i class="fa-solid fa-couch"></i>
                            </div>
                            <div class="number">{{ colIdx + 1 }}</div>
                        </div>
                        {% else %}
                        <div class="seat empty"></div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="seating-legend">
        {% for type in seatTypes %}
        <div
            class="item {{ type.name }}"
            data-pricing="{{ type.price_adult }},{{ type.price_adult_weekend }},{{ type.price_child }},{{ type.price_child_weekend }}"
        >
            <i class="fa-solid fa-couch"></i>
            <span>{{ type.name }}</span>
        </div>
        {% endfor %}
    </div>
</div>
