{% extends 'layout.twig' %}

{% block title %}SKOP - Greška{% endblock %}
{% block content %}
    <h1>{{ errorTitle }}</h1>
    <p>{{ errorDescription }}</p>
    <p>Kod: {{ errorCode }} ({{ errorExtra }})</p>
    {% if linkBack != null %}
        <a href="{{ linkBack.to }}">{{ linkBack.label }}</a>
    {% else %}
        <a class="nav-go-back button pop">Nazad</a>
    {% endif %}
{% endblock %}
