{% set nav_items = [
    ['/repertoar', 'REPERTOAR'],
    ['/cenovnik', 'CENOVNIK'],
    ['/kontakt', 'KONTAKT']
] %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="{{ publicRoot }}style/main.css" rel="stylesheet">
        <script src="{{ publicRoot }}js/main.js"></script>
        <script src="{{ publicRoot }}js/nav.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="content">
            <div class="left">
                <div id="logo" class="logo">SKOP</div>
                <nav class="hide-m--">
                    {% for item in nav_items %}
                        <a href="{{ item[0] }}" class="pop">{{ item[1] }}</a>
                    {% endfor %}
                    {% if loggedInUser.isManager %}
                    <a href="/manage" class="pop">MENADŽER</a>
                    {% endif %}
                </nav>
            </div>
            <div class="right">
                {% if loggedInUser == null %}
                    <a href="/login" class="pop">
                        <span class="icon"><i class="fa-solid fa-user"></i> Prijavi se</span>
                    </a>
                {% else %}
                    <a href="/me" class="pop">
                        <span class="icon"><i class="fa-solid fa-user"></i> {{ loggedInUser.first_name }}</span>
                    </a>
                {% endif %}
                <span id="mobile-hamburger" class="hide--td icon large">
                    <i class="fa-solid fa-bars"></i>
                    <img id="hamburger-img" src="{{ publicRoot }}img/burger.png">
                </span>
            </div>
        </header>
        <nav id="mobile-nav">
            {% for item in nav_items %}
                <a href="{{ item[0] }}" class="depress">{{ item[1] }}</a>
            {% endfor %}
        </nav>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
