{% extends 'layout.twig' %}

{% block title %}SKOP - Korisnik{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ publicRoot }}style/me.css">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="full-name-row">
            <h1>{{ loggedInUser.first_name }} {{ loggedInUser.last_name }}</h1>
            <a href="/logout" class="button pop">Odjavi se</a>
        </div>
        {% if discountClub != null %}
        <h2>Klub {{ discountClub.name }}</h2>
        <p>
            Ostvarujete {{ discountClub.discount }}% popusta na sve Vaše rezervacije!
            Ukoliko prilikom kupovine karata na šalteru zatražuje dokaz prisustvu kluba,
            molimo Vas da pokažete ovu stranicu na uvid radi.
        </p>
        {% else %}
        <p>Trenutno niste ni u jednom klubu.</p>
        {% endif %}
    </div>
{% endblock %}
