{% extends 'layout.twig' %}

{% block title %}SKOP - Korisnik{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ publicRoot }}style/me.css">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="full-name-row">
            <h1>{{ loggedInUser.first_name }} {{ loggedInUser.last_name }}</h1>
            <a href="/logout" class="button pop">Odjavi se</a>
        </div>
        {% if discountClub != null %}
        <h2>Klub {{ discountClub.name }}</h2>
        <p>
            Ostvarujete <b>{{ discountClub.discount }}% popusta</b> na sve Vaše online rezervacije!
            Ukoliko prilikom kupovine karata na šalteru osoblje zatražuje dokaz prisustvu kluba,
            molimo Vas da pokažete ovu stranicu na uvid.
        </p>
        {% else %}
        <p>Trenutno niste ni u jednom klubu.</p>
        {% endif %}
        <h2>Vaše rezervacije</h2>
        {% embed '_parts/domainObjectTable.twig' with {
            columns: [
                ['ticket_code', 'Kod'],
                ['screeningStart', 'Početak'],
                ['pickedSeatCount', 'Sedišta'],
                ['movieTitle', 'Film'],
                ['price', 'Cena']
            ],
            rows: tickets,
            notEditable: true,
            initialPath: '/me/rezervacije'
        } %} {% endembed %}
    </div>
{% endblock %}
